@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

/* Home Page */
body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.heading {
  font-family: 'Rubik Distressed', cursive;
  color: black;
  margin-left: 5rem;
  position: relative;
  text-align: left;
  font-size: 2.5rem;
}

#Quizbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#takethequiz {
  margin-left: 18rem;
  background-color: white;
  font-family: 'Rubik Distressed', cursive;
  color: black;
}

/* Game Layout */

.btn {
  position: relative;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'Rubik Distressed', cursive;
  color: black;
  background-color: white;
  text-align: center;
  margin: 2rem;
}

.btn:hover {
  background-color: black;
  color: white;
}

button {
   background-color: white;
   border-color: rgba(0, 0, 0, 0.19);
   font-family: 'Rubik Distressed', cursive;
   color: black;
}

.hide {
display: none;
}

#question {
  font-family: 'Rubik Bubbles', cursive;
  color: black;
  font-size: 300%;
  width: 100%;
  margin-top: 12.5rem;
  text-align: center;
}

#return {
  font-family: 'Rubik Distressed', cursive;
  color: black;
}

/* Score Counter */
#score-table {
  height: auto;
}

#wrong_answer_table {
  font-size: 200%;
  font-weight: bolder;
}

#right_answer_table {
  font-size: 200%;
  font-weight: bolder;
}

#wrong_answers {
  color: red;
  font-weight: bold;
}

#right_answers {
  color: green;
  font-weight: bold;
}

@media (min-width: 768px) {
  button {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }

}

@media (max-width: 414px) {
  button {
    font-size: 13px;
    min-width: 120px;
    padding: 10px 12px;
  }

  .heading {
    font-size: 8px;
}

} 
