@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.heading {
  font-family: 'Rubik Distressed', cursive;
  color: black;
  margin-left: 5rem;
  position: relative;
  width: 100%;
  font-size: 260%;
  font-weight: 1200;
}

#Quizbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#takethequiz {
  margin-left: 18rem;
  background-color: white;
  font-family: 'Rubik Distressed', cursive;
  color: black;
}

.btn {
  width: auto;
  height: auto;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'Rubik Distressed', cursive;
  color: black;
  background-color: white;
  margin-left: 5rem;
  text-align: center;
}

button {
   background-color: white;
   border-color: rgba(0, 0, 0, 0.19);
   font-family: 'Rubik Distressed', cursive;
   color: black;
}

.hide {
display: none;
}

@media (min-width: 768px) {
button {
  font-size: 20px;
  min-width: 200px;
  padding: 14px 16px;
}
}

#question {
  font-family: 'Rubik Bubbles', cursive;
  color: black;
  font-size: 300%;
  width: 100%;
  margin-top: 15rem;
  text-align: center;
}
