@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

/* Home Page */
body {
  background-image: url("../images/background-modified1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.heading {
  font-family: 'Rubik Distressed', cursive;
  color: white;
  text-align: center;
  font-size:3.5vw;
  width: 100%;
}

a {
  text-decoration: none;
}

#Quizbutton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#takethequiz {
  margin-left: 18rem;
  background-color: white;
  font-family: 'Rubik Distressed', cursive;
  color: black;
}

.controls {
  text-align: center;
}

/* Game Layout */

.btn {
  position: relative;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-family: 'Rubik Distressed', cursive;
  color: black;
  background-color: white;
  text-align: center;
  margin: 2rem;
}

.btn:hover {
  background-color: black;
  color: white;
}

button {
  padding: 1em 2.1em 1.1em;
  border-radius: 3px;
  margin: 8px 8px 8px 8px;
  color: #fbdedb;
  background-color: #fbdedb;
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Rubik Distressed', cursive;
  font-weight: 800;
  font-size: 1.00em;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1)
}

.hide {
display: none;
}

#question-container {
  text-align: center;
}

#question {
  font-family: 'Rubik Bubbles', cursive;
  color :white;
  font-size: 4.0vw;
  width: 55%;
  margin-top: 7rem;
  text-align: center;
  display: inline-block;
}

#return {
  font-family: 'Rubik Distressed', cursive;
  color: black;
}

/* Score Counter */
#score-table {
  height: auto;
  text-align: left;
  display: inline-block;
}



#right_answer_table {
  font-size: 200%;
  font-weight: bolder;
  font-family: 'Rubik Distressed', cursive;
  color: floralwhite;

}

#right_answers {
  color: green;
  font-weight: bold;
}



